click
enum-compat
enum34
eventlet
Flask
Flask-SocketIO
gevent
gevent-websocket
gunicorn
itsdangerous
Jinja2
MarkupSafe
olefile
opencv-python-headless
Pillow
python-engineio
python-socketio
redis
six
Werkzeug
face_recognition
